/** section animation des nuages **/
.story #place {
  position: relative;
  display: flex;
  background-image: url("./images/image-lieu-anime.png");
  width: 100%;
  min-height: 699px;
  background-size: cover;
}

.nuages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* les nuages ne bloquent pas les clics */
  z-index: 2;
  filter: blur(15px);
}

/* Gros nuage */
#gros-nuage {
  position: relative;
  top: -32%;
  left: 165%;
  max-width: 300px;
}

/* Petit nuage */
#petit-nuage {
  position: absolute;
  top: 35%;
  left: 115%;
  max-width: 200px;
}