html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 1em !important;
}

h2 {
  font-size: clamp(28px, 5vw, 60px) !important;
}

h3 {
  font-size: clamp(28px, 5vw, 42px) !important;
}

.site-footer ul::after {
  animation: rotation 8s linear infinite;
  transform-origin: center center;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.banner {
  position: relative;
  min-height: 806px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('./images/banner.png');
  background-size: cover;
  background-position: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Vidéo : glisse du haut vers le bas */
@keyframes banner-slide-down {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner {
  animation: banner-slide-down 1s ease forwards;
  max-width: 100vw;
}

/* Logo : glisse du bas vers le haut */
@keyframes banner-title-slide-up {
  from {
    opacity: 0;
    transform: translateY(140px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-logo {
  animation: banner-title-slide-up 1s ease forwards,
    float-multi 7s ease-in-out infinite;
  animation-delay: 0s;
}

@keyframes float-multi {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  15% {
    transform: translate3d(0, -10px, 0) rotate(2deg);
  }

  30% {
    transform: translate3d(0, 10px, 0) rotate(-1deg);
  }

  45% {
    transform: translate3d(15px, 0, 0) rotate(-2deg);
  }

  60% {
    transform: translate3d(-10px, 0, 0) rotate(1deg);
  }

  75% {
    transform: translate3d(8px, -8px, 0) rotate(1deg);
  }

  90% {
    transform: translate3d(-8px, 8px, 0) rotate(-2deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@media (max-width: 322px) {
  .video-bg {
    display: none;
  }
}


/* Animation de rotation pour la fleur de tournesol*/
.story h2 {
  position: relative;
}

.story h2::before {
  left: -7em !important;
}


.story h2::after {
  content: "";
  position: absolute;
  left: -6.3em;
  top: 6em;
  background: url("./images/Sunflower.png") no-repeat center center/contain;
  width: 155px;
  height: 177.41px;
  animation: rotation 15s linear infinite;
  transform-origin: center center;
  display: block;
  pointer-events: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.story__article::before {
  content: url("./images/hibiscus_leaves.png");
}

.story__article::after {
  content: "";
  position: absolute;
  left: calc(50% + 414px);
  top: 2em;
  animation: rotation 5s linear infinite;
  transform-origin: center center;
  width: 188px;
  height: 188px;
  background: url("./images/Hibiscus.png");
  display: block;
  pointer-events: none;
}

/* swiper */
.mySwiper .swiper-wrapper {
  max-width: 1440px !important;
  justify-content: center;
}


.swiper-slide img {
  height: 400px;
  width: 400px;
  max-width: 400px;
}

@media (max-width: 350px) {
  .swiper-slide img {
    height: 200px;
    width: 200px;
    max-width: 200px;
  }
}

#characters .section-title {
  text-align: left;
  background-position: left;
  margin-left: 16%;
  padding-left: 1em;
}

@media (max-width: 400px) {
  #characters .section-title {
    margin: auto;
    text-align: center;
    background-position: center;
  }
}


.story #characters {
  max-width: 1266px;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  text-align: center;
}

.story #characters .other-characters figure {
  max-width: 100% !important;
}

#studio h2::before {
  width: 202px;
  height: 202px;
  animation: rotation 5s linear infinite;
  transform-origin: center center;
}

#studio h2::after {
  width: 103px;
  height: 103px;
  animation: rotation 10s linear infinite;
  transform-origin: center center;
}

/* style pour la section nomination aux oscar */
.Oscar {
  width: 100%;
  height: 200px;
  margin-bottom: 200px;
  position: relative;
  padding: 170px 0 40px;
  display: flex;
}

.Oscar::before {
  content: "";
  position: absolute;
  left: 7%;
  top: 0em;
  width: 216px;
  height: 216px;
  background-image: url(./images/Sunflower.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  animation: rotation 5s linear infinite;
  transform-origin: center center;
}

.Oscar::after {
  content: url(./images/orchid.png);
  position: absolute;
  right: -5%;
  top: -3%;
  animation: rotation 5s linear infinite;
  transform-origin: center center;
}

.Oscar img.logo-oscar {
  position: absolute;
  width: 278px;
  height: 129px;
  left: 65%;
}

.Oscar-titre {
  width: 730px;
  height: 196px;
  left: 19%;
  position: relative;
}

.rectangle-orange {
  position: absolute;
  top: -15px;
  left: -10%;
  width: calc(100% + 40px);
  height: calc(100% + 70px);
  object-fit: cover;
  z-index: 1;
}

.Oscar h3 {
  position: absolute;
  left: 0%;
  width: 610px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px !important;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-shadow: #00000025 0px 4px 0px;
  line-height: 100%;
  letter-spacing: -2px;
  z-index: 2;
}

/* TABLETTE */
@media (max-width: 1024px) {
  .Oscar {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }

  .Oscar::before {
    width: 150px;
    height: 150px;
    left: 5%;
    top: -20px;
  }

  .Oscar::after {
    right: -10%;
    top: -10%;
    transform: scale(0.8);
  }

  .Oscar img.logo-oscar {
    position: static;
    width: 200px;
    height: auto;
    margin-top: 170px;
  }

  .Oscar-titre {
    width: 90%;
    height: auto;
    left: 0;
  }

  .rectangle-orange {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
  }

  .Oscar h3 {
    position: relative;
    padding-left: 45px !important;
    width: 100%;
    font-size: 32px;
    transform: none;
    top: 0;
    margin-top: 75px;
    text-align: center;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .Oscar {
    padding: 80px 10px 40px;
  }

  .Oscar::before {
    display: none;
  }

  .Oscar::after {
    display: none;
  }

  .Oscar img.logo-oscar {
    width: 150px;
    margin-top: 10px;
  }

  .Oscar h3 {
    display: none;
  }

  .rectangle-orange {
    display: none;
  }
}

/* apparition titre h2 et h3 */
/* État initial : invisible */

.section-title .words span {
  opacity: 0;
  transform: translateY(40px);
  display: inline-block;
  transition: opacity 0.80s ease-out, transform 0.80s ease-out;
}

.section-title .words span.visible {
  opacity: 1;
  transform: translateY(0);
}

.section-title .words {
  display: inline-block;
  line-height: inherit;
}

/******/


.site-footer::after {
  content: none;
}

.site-footer::before {
  content: none;
}

